/* game board table */
body {
  background-color: ivory;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  background-color: white;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation-name: dropDown;
  animation-duration: 1s;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece, "#FFD700" or "#0057B7" */

.piece1 {
  background-color: #FFD700;
}

.piece2 {
  background-color: #0057B7;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: lightgray;
}

#messages {
  margin: 20px;
  width: 100%;
  height: 50px;
  font-size: 30px;
  color: black;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px #000000; */
}

@keyframes dropDown {
  from {
  margin-top: -400px;
  }
  to {
  margin-bottom: 0px;
  }
  }
